* {
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 10px;
}

.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 0 15px;
  margin-left: 150px;
}

.header .header-container h3 {
  font-size: 25px;
}

.header .header-container .header-search {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #605c5c;
}

.header .header-container .header-search .header-list {
  width: 185px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #0f1e56;
  border-radius: 40px;
  background-color: #fff;
}

 .header-list li {
  margin-left: 5px;
  padding: 5px;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-icon {
  margin-right: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #9e9e9e;
}

.header-line {
  height: 25px;
  width: 2px;
  display: flex;
  align-items: center;
  background-color: #134b8a;
}

.header-input {
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.header-input input {
  display: flex;
  align-items: center;
  padding: 7px;
  width: 300px;
  border: 1px solid #0f1e56;
  border-radius: 20px;
}

.header-line-icon {
  position: absolute;
  display: flex;
  align-items: center;
  right: 30px;
  cursor: pointer;
}
